<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
 xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Tell the browser to be responsive to screen width -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- Favicon icon -->
    <link rel="icon" type="image/png" sizes="16x16" href="../assets/images/favicon.png">
    <title>Monster admin Template - The Ultimate Multipurpose admin template</title>
	<link rel="canonical" href="https://www.wrappixel.com/templates/monsteradmin/" />
    <!-- Custom CSS -->
    <link href="/dist/css/style.min.css" rel="stylesheet">
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
<![endif]-->
</head>

<body>
    <div class="main-wrapper">
        <!-- ============================================================== -->
        <!-- Preloader - style you can find in spinners.css -->
        <!-- ============================================================== -->
        <div class="preloader">
            <div class="lds-ripple">
                <div class="lds-pos"></div>
                <div class="lds-pos"></div>
            </div>
        </div>
        <!-- ============================================================== -->
        <!-- Preloader - style you can find in spinners.css -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- Login box.scss -->
        <!-- ============================================================== -->
        <div class="auth-wrapper d-flex no-block justify-content-center align-items-center" style="background:url(/assets/images/background/login-register.jpg) no-repeat center center; background-size: cover;">
            <div class="auth-box on-sidebar p-4 bg-white m-0 rounded">
                <div>
                    <div class="logo text-center">
                        <span class="db"><img src="/assets/images/logo-icon.png" alt="logo" /><br/><img src="/assets/images/logo-text.png" alt="Home" /></span>
                    </div>
                    <h3 class="box-title mt-5 mb-0">Inscription</h3><small>Creation d'un nouvel admin</small> 
                    <!-- Form -->
                    <div class="row">
                        <div class="col-12">
                            <form class="form-horizontal mt-3 form-material" action="#" th:action="@{/admin/saveAdmin/}" th:object="${admin}" method="post">
                                <div class="form-group mt-3">
                                      <div class="col-xs-12">
                                        <input class="form-control" type="text" th:field="*{username}" required="" placeholder="Username">
                                      </div>
                                    </div>
                                    <div class="form-group mb-3 ">
                                      <div class="col-xs-12">
                                        <input class="form-control" type="text"  th:field= "*{username}" required="" placeholder="Email">
                                      </div>
                                    </div>
                                    <div class="form-group mb-3 ">
                                      <div class="col-xs-12">
                                        <input class="form-control" type="password" th:field="*{password}" required="" placeholder="Password">
                                      </div>
                                    </div>
                                    <div class="form-group mb-3">
                                      <div class="col-xs-12">
                                        <input class="form-control" type="password" required="" placeholder="Confirm Password">
                                      </div>
                                    </div>
                                    <div class="form-group mb-3">
                                      
                                    </div>
                                    <div class="form-group text-center mt-3">
                                      <div class="col-xs-12">
                                        <a th:href="@{/admin/allAdmin/}"> <button class="btn btn-info btn-lg btn-block text-uppercase waves-effect waves-light" type="submit">Creer</button>
                                      </div>
                                    </div>
                                    <div class="form-group mb-0">
                                      <div class="col-sm-12 text-center">
                                        <p>Voulez-vous retourner? <a href="login2.html" class="text-info ml-1">Annuler</a></p>
                                      </div>
                                    </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- ============================================================== -->
        <!-- Login box.scss -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- Page wrapper scss in scafholding.scss -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- Page wrapper scss in scafholding.scss -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- Right Sidebar -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- Right Sidebar -->
        <!-- ============================================================== -->
    </div>
    <!-- ============================================================== -->
    <!-- All Required js -->
    <!-- ============================================================== -->
    <script src="/assets/libs/jquery/dist/jquery.min.js "></script>
    <!-- Bootstrap tether Core JavaScript -->
    <script src="/assets/libs/popper.js/dist/umd/popper.min.js "></script>
    <script src="/assets/libs/bootstrap/dist/js/bootstrap.min.js "></script>
    <!-- ============================================================== -->
    <!-- This page plugin js -->
    <!-- ============================================================== -->
    <script>
    $('[data-toggle="tooltip "]').tooltip();
    $(".preloader ").fadeOut();
    </script>
</body>

</html>